#mythinfo {
    background-image: url(pexels-zali-3632399-5445490.jpg);
       width: 100%;
   height: 100vh;
   background-size:cover;
    position: relative;
    overflow: hidden;
}

.parent {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
text-align: left;
width: 75%;
margin: 0 auto;
margin-top: -200px;

}

.div1 { grid-area: 2 / 1 / 4 / 3;
background-size: contain;
background-color: black;
}
.div2 { grid-area: 2 / 4 / 4 / 5; 
background-size: contain;
background-color: black;
    background-image: url(mythpaint.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:floralwhite;
    text-indent: 30px
}

.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}

p{
    color: floralwhite;
 text-indent: 20px;  
 margin-left: 20px;
 font-size:25px;


}

h4{
    color:floralwhite;
    text-indent: 10px
}

